openapi: 3.0.3
info:
  title: SmartMoving External API
  version: v1
  description: SmartMoving API OpenAPI Specification generated from documentation.
servers:
- url: https://api-public.smartmoving.com/v1
paths:
  /api/ping:
    get:
      summary: /api/ping - GET
      description: ping
      operationId: _api_ping___get
      tags: []
      parameters: []
      responses:
        '200':
          description: OK
  /api/premium/opportunities/opportunityid/attachments:
    post:
      summary: Add attachment to opportunity
      description: Not Found
      operationId: add_attachment_to_opportunity
      tags: []
      parameters: []
      responses:
        '200':
          description: Success
      requestBody:
        content:
          application/json:
            example:
              base64Contents: string
              fileName: string
              category: {}
  /api/premium/opportunities/{opportunityId}/inventory/rooms/{roomId}:
    post:
      summary: Add inventory to an opportunity
      description: 'Add items to an existing opportunity: Include the ID if you want
        to add inventory from your master list, or create a custom inventory through
        the Name. Each custom inventory created can also be added to the master inventory
        list if desired.'
      operationId: add_inventory_to_an_opportunity
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: roomId
        in: path
        required: true
        schema:
          type: string
      - name: changeVolumeWeightCalculationMode
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the opportunity will be updated to
          calculate by inventory when items are added.
      - name: markAsNeedsReview
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the inventory will be marked as needing
          review
      responses:
        '200':
          description: Item(s) added to room
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              items:
              - id: string
                name: string
                description: string
                notes: string
                volume: 0
                weight: 0
                quantity: 0
                quantityNotGoing: 0
                saveToMaster: false
  /api/premium/opportunities/{opportunityId}/Estimated/jobs/{jobId}/materials:
    post:
      summary: Add materials to job
      description: Add packing materials to job based on its tariff. When using this
        endpoint, the materials added will overwrite the materials on the job, if
        there are any.
      operationId: add_materials_to_job
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Materials added to job
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              materials:
              - quantity: 0
                materialId: string
  /api/premium/opportunities/{opportunityId}/jobs/{jobId}/confirm:
    post:
      summary: Confirm a job
      description: Confirm a job by jobId and category (optional)
      operationId: confirm_a_job
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example: '{opportunityId}'
  /api/premium/lead/{id}/convert:
    put:
      summary: Convert lead to opportunity
      description: Convert lead to opportunity
      operationId: convert_lead_to_opportunity
      tags:
      - leads
      - premium
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Opportunity details
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              customerId: string
              referralSourceId: string
              tariffId: string
              branchId: string
              moveDate: string
              moveSizeId: string
              salesPersonId: string
              serviceTypeId: {}
              originAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              destinationAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
  /api/premium/customers:
    post:
      summary: Create a customer
      description: Create a customer
      operationId: create_a_customer
      tags:
      - customers
      - premium
      parameters: []
      responses:
        '200':
          description: Customer Id
      requestBody:
        content:
          application/json:
            example:
              name: string
              phoneNumber: string
              phoneType: {}
              emailAddress: string
              address: string
              secondaryPhoneNumbers:
              - phoneNumber: string
                phoneType: {}
  /api/premium/leads:
    post:
      summary: Create a lead
      description: Submit a new lead to SmartMoving through the Premium API. Either
        ReferralSource or ReferralSourceId is required. For names, provide at least
        one of FullName, FirstName, or LastName.
      operationId: create_a_lead
      tags:
      - leads
      - premium
      parameters: []
      responses:
        '200':
          description: Lead created successfully
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              firstName: string
              lastName: string
              fullName: string
              phoneNumber: string
              extension: string
              phoneType: string
              email: string
              moveDate: string
              leadCost: 0
              originStreet: string
              originCity: string
              originState: string
              originZip: string
              originAddressFull: string
              destinationStreet: string
              destinationCity: string
              destinationState: string
              destinationZip: string
              destinationAddressFull: string
              bedrooms: string
              notes: string
              referralSource: string
              referralSourceId: string
              affiliate: string
              affiliateId: string
              moveSize: string
              moveSizeId: string
              serviceType: string
              branchId: string
              opportunityType: string
              trackingParameters: string
              userOptIn: true
              utmAdGroup: string
              utmCampaign: string
              utmContent: string
              utmCustomTracking: string
              utmKeyword: string
              utmMedium: string
              utmSource: string
  /api/premium/opportunity:
    post:
      summary: Create an opportunity
      description: Create an opportunity from scratch, indicating all the required
        fields. Continue to SmartMoving to get an estimate proposal sent to the customer,
        or retrieve the estimation from the Get opportunity details endpoint to handle
        the communication externally.
      operationId: create_an_opportunity
      tags:
      - opportunities
      - premium
      parameters: []
      responses:
        '200':
          description: Opportunity details
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              tariffId: string
              salesPersonId: string
              customerId: string
              referralSourceId: string
              affiliateId: string
              branchId: string
              moveDate: string
              moveSizeId: string
              serviceTypeId: {}
              utmInformation:
                utmAdGroup: string
                utmCampaign: string
                utmContent: string
                utmCustomTracking: string
                utmKeyword: string
                utmMedium: string
                utmSource: string
              originAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              destinationAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              customField01: string
              customField02: string
              customField03: string
  /api/premium/opportunities/{opportunityId}/followups:
    post:
      summary: Create follow-up
      description: Create follow-up for opportunityId
      operationId: create_follow_up
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '201':
          description: Created
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              type: {}
              title: string
              assignedToId: string
              dueDateTime: string
              completedAtUtc: string
              notes: string
              completed: true
    get:
      summary: Get follow-ups
      description: Get all follow-ups for a given opportunity
      operationId: get_follow_ups
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of follow-ups
          content:
            application/json:
              example:
              - id: string
                opportunityId: string
                type: {}
                title: string
                assignedToId: string
                dueDateTime: string
                completedAtUtc: string
                notes: string
                completed: true
        '400':
          description: Bad Request
  /api/premium/opportunities/{opportunityId}/jobs:
    post:
      summary: Create job
      description: Create job for opportunity
      operationId: create_job
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '201':
          description: Created
        '404':
          description: Not Found
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              serviceType: {}
  /api/premium/opportunities/{opportunityId}/rooms:
    post:
      summary: Create rooms
      description: Add new rooms to your lead or opportunity, and use it to load your
        job-s inventory.
      operationId: create_rooms
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Room details
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
            - name: string
              roomTypeId: string
  /api/premium/opportunities/{opportunityId}/followups/{followupId}:
    delete:
      summary: Delete follow-up by id
      description: Delete single follow-up for opportunityId and follow-up Id
      operationId: delete_follow_up_by_id
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: followupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: '{opportunityId}'
        '400':
          description: Bad Request
    get:
      summary: Get follow-up by id
      description: Get single follow-up for opportunityId and follow-up Id
      operationId: get_follow_up_by_id
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: followupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Follow-up
          content:
            application/json:
              example:
                id: string
                opportunityId: string
                type: {}
                title: string
                assignedToId: string
                dueDateTime: string
                completedAtUtc: string
                notes: string
                completed: true
        '400':
          description: Bad Request
    put:
      summary: Update follow-up
      description: Update single follow-up for opportunityId and follow-up Id
      operationId: update_follow_up
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: followupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              type: {}
              title: string
              assignedToId: string
              dueDateTime: string
              completedAtUtc: string
              notes: string
              completed: true
  /api/premium/opportunities/{opportunityId}/jobs/{jobId}:
    delete:
      summary: Delete job
      description: Remove job from opportunity
      operationId: delete_job
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: '{opportunityId}'
        '404':
          description: Not Found
        '400':
          description: Bad Request
    get:
      summary: Get job by id
      description: Get job details by Id
      operationId: get_job_by_id
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      - name: IncludeEstimatedCharges
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeActualCharges
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeEstimatedMaterials
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeActualMaterials
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeStops
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeDispatchInfo
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeCharges
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeNotes
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Job
          content:
            application/json:
              example:
                opportunityId: string
                arrivalWindow: string
                dropOffDate: 0
                stops:
                - id: string
                  isOrigin: true
                  isDestination: true
                  order: 0
                  addressFullAddress: string
                  addressLat: 0
                  addressLng: 0
                  addressUnit: string
                  propertyName: string
                  propertyType: {}
                  stairs: 0
                  parkingDescription: string
                  hasElevator: true
                  notes: string
                estimatedCharges:
                - id: string
                  name: string
                  chargeCategory: {}
                  chargeType: {}
                  subtotal: 0
                  discountAmount: 0
                  discountPercent: 0
                  quantity: 0
                  totalCost: 0
                actualCharges:
                - estimatedJobChargeId: string
                  estimatedJobCharge:
                    id: string
                    name: string
                    chargeCategory: {}
                    chargeType: {}
                    subtotal: 0
                    discountAmount: 0
                    discountPercent: 0
                    quantity: 0
                    totalCost: 0
                  id: string
                  name: string
                  chargeCategory: {}
                  chargeType: {}
                  subtotal: 0
                  discountAmount: 0
                  discountPercent: 0
                  quantity: 0
                  totalCost: 0
                estimatedMaterials:
                - id: string
                  name: string
                  description: string
                  materialsQuantity: 0
                  materialsRate: 0
                  packingQuantity: 0
                  packingRate: 0
                  packingTimeMinutes: 0
                  unpackingQuantity: 0
                  unpackingRate: 0
                  unpackingTimeMinutes: 0
                  isContainer: true
                actualMaterials:
                - id: string
                  name: string
                  description: string
                  materialsQuantity: 0
                  materialsRate: 0
                  packingQuantity: 0
                  packingRate: 0
                  packingTimeMinutes: 0
                  unpackingQuantity: 0
                  unpackingRate: 0
                  unpackingTimeMinutes: 0
                  isContainer: true
                crewMembers:
                - string
                jobTime:
                  laborTime:
                    estimated: 0
                    actual: 0
                  billableHours: 0
                  travelTime:
                    estimated: 0
                    actual: 0
                totalTips: 0
                notes:
                  crewNotes: string
                  customerNotes: string
                  internalNotes: string
                  crewFeedback: string
                  accountingNotes: string
                  dispatcherNotes: string
                id: string
                type: {}
                jobNumber: string
                jobDate: 0
                startTimeUtc: string
                endTimeUtc: string
                completedAtUtc: string
                confirmedAtUtc: string
                closedAtUtc: string
        '400':
          description: Bad Request
  /api/affiliates:
    get:
      summary: Get affiliates
      description: Get all of your account's affiliates. Optionally filter by referral
        source or branch.
      operationId: get_affiliates
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: referralSourceId
        in: query
        required: false
        schema:
          type: string
      - name: branchId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Affiliates
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  company: string
                  email: string
                  phoneNumber: string
                  branchId: string
                  referralSourceId: string
  /api/customers:
    get:
      summary: Get all customers
      description: Get a list of all customers ordered by name. Optionally, you can
        filter them based on the job service date associated with each customer's
        opportunities. When filtered using service date(s), by default the opportunity
        info is included, to exclude it set IncludeOpportunityInfo = False.
      operationId: get_all_customers
      tags:
      - basic
      - customers
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: FromServiceDate
        in: query
        required: false
        schema:
          type: integer
        description: 'Format: yyyyMMdd, eg. 20240831'
      - name: ToServiceDate
        in: query
        required: false
        schema:
          type: integer
        description: 'Format: yyyyMMdd, eg. 20240831'
      - name: IncludeOpportunityInfo
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Customers
          content:
            application/json:
              example:
              - id: string
                opportunities:
                - id: string
                  quoteNumber: string
                  status: {}
                  jobs:
                  - id: string
                    jobNumber: string
                    serviceDate: string
                    type: {}
                name: string
                phoneNumber: string
                phoneType: {}
                emailAddress: string
                address: string
                secondaryPhoneNumbers:
                - phoneNumber: string
                  phoneType: {}
  /api/arrival-windows:
    get:
      summary: Get arrival windows
      description: Get all the arrival windows that are configured for your company,
        including their description, start time, and end time.
      operationId: get_arrival_windows
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Arrival windows
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  description: string
                  startTime: 0
                  endTime: 0
                  isDefault: true
  /api/opportunities/{opportunityId}/audit-activity:
    get:
      summary: Get audit activity for opportunity
      description: Get audit activity for opportunity
      operationId: get_audit_activity_for_opportunity
      tags:
      - basic
      - opportunities
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Opportunity audit activity
          content:
            application/json:
              example:
              - id: string
                activityType: {}
                description: string
                changeMadeByUserId: string
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/bad-lead-reasons:
    get:
      summary: Get bad lead reasons
      description: Get all of your company's bad lead reasons.
      operationId: get_bad_lead_reasons
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Bad lead reasons
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  sortOrder: 0
  /api/branches:
    get:
      summary: Get branches
      description: Get all your company branches, alongside their dispatch location,
        and phone number.
      operationId: get_branches
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: branches
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  phoneNumber: string
                  dispatchLocation:
                    fullAddress: string
                    street: string
                    city: string
                    state: string
                    zip: string
                    lat: 0
                    lng: 0
                  isPrimary: true
  /api/cancellation-reasons:
    get:
      summary: Get cancellation reasons
      description: Get all of your company's job cancellation reasons.
      operationId: get_cancellation_reasons
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Cancellation reasons
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  sortOrder: 0
  /api/crew-members/{crewMemberId}:
    get:
      summary: Get crew member by Id
      description: Get the crew member details of one of the configured members in
        your account, including their contact information, role, branch, and compensation
        settings.
      operationId: get_crew_member_by_id
      tags:
      - basic
      parameters:
      - name: crewMemberId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Crew member
          content:
            application/json:
              example:
                id: string
                name: string
                status: string
                mobile: string
                email: string
                role:
                  id: string
                  name: string
                branch:
                  id: string
                  name: string
                compensation:
                  labor:
                    method: string
                    rate: 0
                  movingLaborPercentage: 0
                  packingLaborPercentage: 0
                  transportationPercentage: 0
                  materialsPercentage: 0
                  servicesPercentage: 0
                  valuationPercentage: 0
                  tripFees:
                    rate: 0
                    method: string
                  fuelSurchargeFeesPercentage: 0
                  prepaidStoragePercentage: 0
                  warehouseHandlingPercentage: 0
                  tripAndTravelPercentage: 0
                  bulkyItemPercentage: 0
                  shuttleFeePercentage: 0
                  storageInTransitPercentage: 0
                  insurancePercentage: 0
                  tipsEnabled: true
        '400':
          description: Bad Request
  /api/crew-members:
    get:
      summary: Get crew members
      description: Get all crew members configured in your account, including their
        contact information, role, branch, and compensation settings.
      operationId: get_crew_members
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: Status
        in: query
        required: false
        schema:
          type: ''
        description: 'Filter by status: Active or Inactive'
      - name: BranchId
        in: query
        required: false
        schema:
          type: string
        description: Filter by branch ID
      responses:
        '200':
          description: Crew members
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  status: string
                  mobile: string
                  email: string
                  role:
                    id: string
                    name: string
                  branch:
                    id: string
                    name: string
                  compensation:
                    labor:
                      method: string
                      rate: 0
                    movingLaborPercentage: 0
                    packingLaborPercentage: 0
                    transportationPercentage: 0
                    materialsPercentage: 0
                    servicesPercentage: 0
                    valuationPercentage: 0
                    tripFees:
                      rate: 0
                      method: string
                    fuelSurchargeFeesPercentage: 0
                    prepaidStoragePercentage: 0
                    warehouseHandlingPercentage: 0
                    tripAndTravelPercentage: 0
                    bulkyItemPercentage: 0
                    shuttleFeePercentage: 0
                    storageInTransitPercentage: 0
                    insurancePercentage: 0
                    tipsEnabled: true
  /api/customers/{customerId}:
    get:
      summary: Get customer by Id
      description: Get single customer by Id
      operationId: get_customer_by_id
      tags:
      - basic
      - customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer
          content:
            application/json:
              example:
                id: string
                name: string
                phoneNumber: string
                phoneType: {}
                emailAddress: string
                address: string
                secondaryPhoneNumbers:
                - phoneNumber: string
                  phoneType: {}
        '400':
          description: Bad Request
  /api/premium/opportunities/{opportunityId}/documents:
    get:
      summary: Get documents
      description: Get all (opportunity and job) documents for a given opportunity
      operationId: get_documents
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of opportunity and job documents
          content:
            application/json:
              example:
                opportunityDocuments:
                - id: string
                  title: string
                  isComplete: true
                  url: string
                jobDocuments:
                - jobId: string
                  id: string
                  title: string
                  isComplete: true
                  url: string
        '400':
          description: Bad Request
  /api/crew-members/{crewMemberId}/jobs:
    get:
      summary: Get jobs by crew member id
      description: Retrieve jobs associated with a specific crew member, filtered
        by service date.
      operationId: get_jobs_by_crew_member_id
      tags:
      - basic
      - crew-members
      parameters:
      - name: crewMemberId
        in: path
        required: true
        schema:
          type: string
      - name: From
        in: query
        required: false
        schema:
          type: integer
      - name: To
        in: query
        required: false
        schema:
          type: integer
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Page result of Jobs
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  jobNumber: string
                  opportunityId: string
                  serviceType: {}
                  serviceDate: 0
                  completedAtUtc: string
                  confirmedAtUtc: string
                  closedAtUtc: string
        '400':
          description: Bad Request
  /api/opportunities/{opportunityId}/jobs:
    get:
      summary: Get jobs by opportunityId
      description: Get jobs by Opportunity Id
      operationId: get_jobs_by_opportunityid
      tags:
      - basic
      - opportunities
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job
          content:
            application/json:
              example:
              - id: string
                type: {}
                jobNumber: string
                jobDate: 0
                startTimeUtc: string
                endTimeUtc: string
                completedAtUtc: string
                confirmedAtUtc: string
                closedAtUtc: string
        '400':
          description: Bad Request
  /api/leads/{leadId}:
    get:
      summary: Get lead by Id
      description: Get single lead by Id
      operationId: get_lead_by_id
      tags:
      - basic
      - leads
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lead
          content:
            application/json:
              example:
                id: string
                customerName: string
                emailAddress: string
                referralSource: string
                referralSourceName: string
                affiliateId: string
                affiliateName: string
                phoneNumber: string
                phoneType: {}
                serviceDate: 0
                salesPersonId: string
                salesPerson: string
                type: {}
                branchId: string
                branchName: string
                originAddressFull: string
                originStreet: string
                originCity: string
                originState: string
                originZip: string
                destinationAddressFull: string
                destinationStreet: string
                destinationCity: string
                destinationState: string
                destinationZip: string
                moveSizeId: string
                status: {}
                lostReason: string
                moveSizeName: string
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/leads:
    get:
      summary: Get leads
      description: Retrieves leads created within a time range. By default, only New
        and In Progress leads are returned, but Lost and Bad Leads can be included
        through query parameters.
      operationId: get_leads
      tags:
      - basic
      - leads
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: From
        in: query
        required: false
        schema:
          type: integer
        description: 'Format: yyyyMMdd, eg. 20240831'
      - name: To
        in: query
        required: false
        schema:
          type: integer
        description: 'Format: yyyyMMdd, eg. 20240831'
      - name: IncludeBad
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeLost
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Leads
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  customerName: string
                  emailAddress: string
                  referralSource: string
                  referralSourceName: string
                  affiliateId: string
                  affiliateName: string
                  phoneNumber: string
                  phoneType: {}
                  serviceDate: 0
                  salesPersonId: string
                  salesPerson: string
                  type: {}
                  branchId: string
                  branchName: string
                  originAddressFull: string
                  originStreet: string
                  originCity: string
                  originState: string
                  originZip: string
                  destinationAddressFull: string
                  destinationStreet: string
                  destinationCity: string
                  destinationState: string
                  destinationZip: string
                  moveSizeId: string
                  status: {}
                  lostReason: string
                  moveSizeName: string
                  createdAtUtc: string
  /api/premium/leads/sales/{salesPersonId}:
    get:
      summary: Get leads by sales person Id
      description: Get leads by sales person Id
      operationId: get_leads_by_sales_person_id
      tags:
      - leads
      - premium
      parameters:
      - name: salesPersonId
        in: path
        required: true
        schema:
          type: string
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Leads
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  customerName: string
                  emailAddress: string
                  referralSource: string
                  referralSourceName: string
                  affiliateId: string
                  affiliateName: string
                  phoneNumber: string
                  phoneType: {}
                  serviceDate: 0
                  salesPersonId: string
                  salesPerson: string
                  type: {}
                  branchId: string
                  branchName: string
                  originAddressFull: string
                  originStreet: string
                  originCity: string
                  originState: string
                  originZip: string
                  destinationAddressFull: string
                  destinationStreet: string
                  destinationCity: string
                  destinationState: string
                  destinationZip: string
                  moveSizeId: string
                  status: {}
                  lostReason: string
                  moveSizeName: string
                  createdAtUtc: string
  /api/lost-reasons:
    get:
      summary: Get lost lead/opportunity reasons
      description: Get all of your company's lost lead/opportunity reasons.
      operationId: get_lost_lead_opportunity_reasons
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Lost reasons
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  description: string
  /api/premium/inventory:
    get:
      summary: Get master inventory list
      description: Get the master inventory list with all the relevant information,
        and use its IDs to add inventory items.
      operationId: get_master_inventory_list
      tags:
      - premium
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Inventory
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  description: string
                  shortCode: 0
                  volume: 0
                  weight: 0
  /api/premium/tariffs/{tariffId}/materials:
    get:
      summary: Get materials by tariff id
      description: Get all your tariff-s packing materials information.
      operationId: get_materials_by_tariff_id
      tags:
      - premium
      parameters:
      - name: tariffId
        in: path
        required: true
        schema:
          type: string
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Tariff materials
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  rate: 0
                  name: string
                  description: string
                  packTimeInMinutes: 0
                  unpackTimeInMinutes: 0
                  carrierPackShortCode: 0
                  packByOwnerShortCode: 0
                  cost: 0
                  volume: 0
                  weight: 0
                  sortOrder: 0
        '400':
          description: Bad Request
  /api/move-sizes:
    get:
      summary: Get move sizes
      description: Get all the move sizes that are stored in your company, alongside
        their description, cubic feet, and weight.
      operationId: get_move_sizes
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Move sizes
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  description: string
                  volume: 0
                  weight: 0
  /api/customers/{customerId}/opportunities:
    get:
      summary: Get opportunities by customer Id
      description: Get opportunities by customer Id
      operationId: get_opportunities_by_customer_id
      tags:
      - basic
      - opportunities
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Page result of Opportunities
          content:
            application/json:
              example:
              - id: string
                quoteNumber: string
                serviceDate: 0
                status: {}
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/opportunities/{opportunityId}:
    get:
      summary: Get opportunity details
      description: Get detailed information about an opportunity
      operationId: get_opportunity_details
      tags:
      - basic
      - opportunities
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: IncludeTripInfo
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludePayments
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeSurveys
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeJobAddresses
        in: query
        required: false
        schema:
          type: boolean
        description: List of job-s addresses/stops, returned in the order they were
          stored going from Origin, to Destination.
      - name: IncludeTasks
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeFiles
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludePhotos
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeDocuments
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeCharges
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeDispatchInfo
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Opportunity details
          content:
            application/json:
              example:
                id: string
                quoteNumber: 0
                customer:
                  id: string
                  name: string
                  emailAddress: string
                  phoneNumber: string
                  phoneType: {}
                branch:
                  name: string
                  phoneNumber: string
                contacts:
                - name: string
                  emailAddress: string
                  phoneNumber: string
                  phoneType: {}
                opportunityType: {}
                type: {}
                serviceDate: 0
                status: {}
                leadStatus: string
                moveSize:
                  name: string
                  description: string
                  volume: 0
                volume: 0
                weight: 0
                volumeWeightCalculationMode: {}
                estimatedTotal:
                  subtotal: 0
                  taxableAmount: 0
                  tax: 0
                  finalTotal: 0
                estimator:
                  name: string
                  mobileNumber: string
                  branchId: string
                  regionId: string
                  title: string
                salesAssignee:
                  id: string
                  name: string
                hasTripInfo: true
                referralSource: string
                affiliateId: string
                affiliateName: string
                allowInventoryUpdates: true
                customField01: string
                customField02: string
                customField03: string
                cancellationReason: string
                jobs:
                - id: string
                  jobNumber: string
                  jobDate: 0
                  type: {}
                  confirmed: true
                  jobAddresses:
                  - string
                  jobDocuments:
                  - title: string
                    type: {}
                    isComplete: true
                  estimatedCharges:
                  - name: string
                    chargeCategory: 0
                    description: string
                    editableDescription: string
                    sortOrder: 0
                    subtotal: 0
                    discountAmount: 0
                    totalCost: 0
                  actualCharges:
                  - name: string
                    chargeCategory: 0
                    description: string
                    editableDescription: string
                    sortOrder: 0
                    subtotal: 0
                    discountAmount: 0
                    totalCost: 0
                  arrivalWindow:
                    id: string
                    description: string
                    startTime: 0
                    endTime: 0
                    isDefault: true
                  totalTips: 0
                  crewMembers:
                  - string
                  jobTime:
                    laborTime:
                      estimated: 0
                      actual: 0
                    billableHours: 0
                    travelTime:
                      estimated: 0
                      actual: 0
                payments:
                - source: {}
                  paymentType: {}
                  amount: 0
                  takenByUser: string
                  isOutstanding: true
                  paidAtUtc: string
                  refundsJobPaymentId: string
                  amountRefunded: 0
                  paymentCategory: {}
                tripInfo:
                  isTripInfoApplied: true
                  pickupSpreadFirstAvailableDate: 0
                  pickupSpreadLastAvailableDate: 0
                  confirmedPickupDate: 0
                  preferredPickupTime: 0
                  preferredPickupTimeDurationMinutes: 0
                  deliverySpreadFirstAvailableDate: 0
                  deliverySpreadLastAvailableDate: 0
                  confirmedDeliveryDate: 0
                  preferredDeliveryTime: 0
                  preferredDeliveryTimeDurationMinutes: 0
                opportunityFiles:
                - string
                photos:
                - string
                opportunityDocuments:
                - title: string
                  type: {}
                  isComplete: true
                surveys:
                - assignedTo:
                    name: string
                    mobileNumber: string
                    branchId: string
                    regionId: string
                    title: string
                  type: {}
                  title: string
                  startAtUtc: string
                  durationMinutes: 0
                  notes: string
                  isConfirmed: true
                tasks:
                - title: string
                  customer:
                    id: string
                    name: string
                    emailAddress: string
                    phoneNumber: string
                    phoneType: {}
                  assignedTo:
                    name: string
                    mobileNumber: string
                    branchId: string
                    regionId: string
                    title: string
                  taskItemType: {}
                  taskItemStatus: {}
                  notes: string
                tariff:
                  id: string
                  name: string
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/opportunities/quote/{quoteNumber}:
    get:
      summary: Get opportunity details by quote number
      description: Get detailed information about an opportunity
      operationId: get_opportunity_details_by_quote_number
      tags:
      - basic
      - opportunities
      parameters:
      - name: quoteNumber
        in: path
        required: true
        schema:
          type: integer
      - name: IncludeTripInfo
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludePayments
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeSurveys
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeJobAddresses
        in: query
        required: false
        schema:
          type: boolean
        description: List of job-s addresses/stops, returned in the order they were
          stored going from Origin, to Destination.
      - name: IncludeTasks
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeFiles
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludePhotos
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeDocuments
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeCharges
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeDispatchInfo
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Opportunity details
          content:
            application/json:
              example:
                id: string
                quoteNumber: 0
                customer:
                  id: string
                  name: string
                  emailAddress: string
                  phoneNumber: string
                  phoneType: {}
                branch:
                  name: string
                  phoneNumber: string
                contacts:
                - name: string
                  emailAddress: string
                  phoneNumber: string
                  phoneType: {}
                opportunityType: {}
                type: {}
                serviceDate: 0
                status: {}
                leadStatus: string
                moveSize:
                  name: string
                  description: string
                  volume: 0
                volume: 0
                weight: 0
                volumeWeightCalculationMode: {}
                estimatedTotal:
                  subtotal: 0
                  taxableAmount: 0
                  tax: 0
                  finalTotal: 0
                estimator:
                  name: string
                  mobileNumber: string
                  branchId: string
                  regionId: string
                  title: string
                salesAssignee:
                  id: string
                  name: string
                hasTripInfo: true
                referralSource: string
                affiliateId: string
                affiliateName: string
                allowInventoryUpdates: true
                customField01: string
                customField02: string
                customField03: string
                cancellationReason: string
                jobs:
                - id: string
                  jobNumber: string
                  jobDate: 0
                  type: {}
                  confirmed: true
                  jobAddresses:
                  - string
                  jobDocuments:
                  - title: string
                    type: {}
                    isComplete: true
                  estimatedCharges:
                  - name: string
                    chargeCategory: 0
                    description: string
                    editableDescription: string
                    sortOrder: 0
                    subtotal: 0
                    discountAmount: 0
                    totalCost: 0
                  actualCharges:
                  - name: string
                    chargeCategory: 0
                    description: string
                    editableDescription: string
                    sortOrder: 0
                    subtotal: 0
                    discountAmount: 0
                    totalCost: 0
                  arrivalWindow:
                    id: string
                    description: string
                    startTime: 0
                    endTime: 0
                    isDefault: true
                  totalTips: 0
                  crewMembers:
                  - string
                  jobTime:
                    laborTime:
                      estimated: 0
                      actual: 0
                    billableHours: 0
                    travelTime:
                      estimated: 0
                      actual: 0
                payments:
                - source: {}
                  paymentType: {}
                  amount: 0
                  takenByUser: string
                  isOutstanding: true
                  paidAtUtc: string
                  refundsJobPaymentId: string
                  amountRefunded: 0
                  paymentCategory: {}
                tripInfo:
                  isTripInfoApplied: true
                  pickupSpreadFirstAvailableDate: 0
                  pickupSpreadLastAvailableDate: 0
                  confirmedPickupDate: 0
                  preferredPickupTime: 0
                  preferredPickupTimeDurationMinutes: 0
                  deliverySpreadFirstAvailableDate: 0
                  deliverySpreadLastAvailableDate: 0
                  confirmedDeliveryDate: 0
                  preferredDeliveryTime: 0
                  preferredDeliveryTimeDurationMinutes: 0
                opportunityFiles:
                - string
                photos:
                - string
                opportunityDocuments:
                - title: string
                  type: {}
                  isComplete: true
                surveys:
                - assignedTo:
                    name: string
                    mobileNumber: string
                    branchId: string
                    regionId: string
                    title: string
                  type: {}
                  title: string
                  startAtUtc: string
                  durationMinutes: 0
                  notes: string
                  isConfirmed: true
                tasks:
                - title: string
                  customer:
                    id: string
                    name: string
                    emailAddress: string
                    phoneNumber: string
                    phoneType: {}
                  assignedTo:
                    name: string
                    mobileNumber: string
                    branchId: string
                    regionId: string
                    title: string
                  taskItemType: {}
                  taskItemStatus: {}
                  notes: string
                tariff:
                  id: string
                  name: string
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/premium/opportunities/{opportunityId}/inventory:
    get:
      summary: Get opportunity inventory
      description: Get detailed information about opportunity inventory
      operationId: get_opportunity_inventory
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Opportunity inventory
          content:
            application/json:
              example:
                id: string
                createdAtUtc: string
                lastModifiedById: string
                lastModifiedFromApplication: {}
                densityFactor: 0
                boxes:
                - id: string
                  name: string
                  description: string
                  shortCode: 0
                  notes: string
                  volume: 0
                  weight: 0
                  imageUrl: string
                  quantity: 0
                  inventoryItemId: string
                rooms:
                - id: string
                  name: string
                  description: string
                  roomType: string
                  items:
                  - id: string
                    name: string
                    description: string
                    notes: string
                    shortCode: 0
                    quantity: 0
                    volume: 0
                    weight: 0
                    width: 0
                    depth: 0
                    height: 0
                    type: {}
                    inventoryItemId: string
                    imageUrls:
                    - string
                lockStatus: true
        '400':
          description: Bad Request
  /api/payments/opportunities/{opportunityId}:
    get:
      summary: Get payments by opportunity Id
      description: Get opportunity payments by opportunity Id
      operationId: get_payments_by_opportunity_id
      tags:
      - basic
      - opportunities
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job
          content:
            application/json:
              example:
              - id: string
                opportunityId: string
                jobId: string
                source: {}
                paymentType: {}
                amount: 0
                takenByUserId: string
                createdAtUtc: string
                customPaymentDescription: string
                gatewayPaymentId: string
                refundsJobPaymentId: string
                amountRefunded: 0
                paymentCategory: {}
                isRefund: true
        '400':
          description: Bad Request
  /api/premium/payments/storage-accounts/{storageAccountId}:
    get:
      summary: Get payments by storage account Id
      description: Get storage payments by storage account Id
      operationId: get_payments_by_storage_account_id
      tags:
      - opportunities
      - premium
      parameters:
      - name: storageAccountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job
          content:
            application/json:
              example:
              - id: string
                storageAccountId: string
                source: {}
                paymentType: {}
                createdAtUtc: string
                amount: 0
                balance: 0
                takenByUserId: string
                description: string
                gatewayPaymentId: string
                refundsPaymentId: string
                amountRefunded: 0
                isRefund: true
        '400':
          description: Bad Request
  /api/referral-sources:
    get:
      summary: Get referral sources
      description: Get all of your account-s referral sources, with the option to
        retrieve all of them or only your public ones (users on public lead forms
        you might have embedded on your website). If desired, you can also include
        your active lead providers in the response.
      operationId: get_referral_sources
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: includePrivate
        in: query
        required: false
        schema:
          type: boolean
      - name: includeLeadProviders
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Referral sources
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  isLeadProvider: true
                  isPublic: true
  /api/premium/room-types:
    get:
      summary: Get room types
      description: Get all the room types that are stored in your company-s inventory
        configuration.
      operationId: get_room_types
      tags:
      - premium
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Room Types
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
  /api/premium/customers/{customerId}/service-tickets:
    get:
      summary: Get service tickets by customer Id
      description: Get service tickets by customer Id
      operationId: get_service_tickets_by_customer_id
      tags:
      - customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Service tickets
          content:
            application/json:
              example:
              - id: string
                jobId: string
                name: string
                type: {}
                status: {}
                priority: {}
                createdAtUtc: string
        '400':
          description: Bad Request
  /api/service-types:
    get:
      summary: Get service types
      description: Get all your enabled service types, both system and custom ones.
      operationId: get_service_types
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: service types
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: {}
                  name: string
                  scalingFactorPercentage: 0
                  hasActivityLoading: true
                  hasActivityFinishedLoading: true
                  hasActivityUnloading: true
                  order: 0
  /api/leads/statuses:
    get:
      summary: Get statuses
      description: Get statuses
      operationId: get_statuses
      tags:
      - basic
      - leads
      parameters: []
      responses:
        '200':
          description: Statuses
          content:
            application/json:
              example:
              - id: string
                customerName: string
                emailAddress: string
                referralSource: string
                referralSourceName: string
                affiliateId: string
                affiliateName: string
                phoneNumber: string
                phoneType: {}
                serviceDate: 0
                salesPersonId: string
                salesPerson: string
                type: {}
                branchId: string
                branchName: string
                originAddressFull: string
                originStreet: string
                originCity: string
                originState: string
                originZip: string
                destinationAddressFull: string
                destinationStreet: string
                destinationCity: string
                destinationState: string
                destinationZip: string
                moveSizeId: string
                status: {}
                lostReason: string
                moveSizeName: string
                createdAtUtc: string
  /api/customers/{customerId}/storage-accounts:
    get:
      summary: Get storage accounts by customer Id
      description: Get storage accounts by customer Id
      operationId: get_storage_accounts_by_customer_id
      tags:
      - basic
      - customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Storage accounts
          content:
            application/json:
              example:
              - id: string
                accountNumber: string
                status: {}
                jobId: string
                storageType: {}
                storageBillingPreOrPostPay: {}
                storageAndValuationTotal: 0
                totalMonthlyCharges: 0
                storageValuationMethod: {}
                nextInvoiceAt: string
                discounts:
                - name: string
                  storageDiscountType: {}
                  discountAmountType: {}
                  amount: 0
                warehouseSalesTaxRate: 0
                warehouseName: string
        '400':
          description: Bad Request
  /api/tariffs:
    get:
      summary: Get tariffs
      description: Get all the tariffs within your company, with the option to include
        disabled tariffs or not.
      operationId: get_tariffs
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      - name: IncludeDisabled
        in: query
        required: false
        schema:
          type: boolean
      - name: IncludeTechMate
        in: query
        required: false
        schema:
          type: boolean
        description: Include external tariffs created on TechMate in the response.
      responses:
        '200':
          description: Tariffs
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  isEnabled: true
                  appliesToOpportunityTypes:
                  - 0
                  appliesToBranches:
                  - branchId: string
                    branchName: string
  /api/users:
    get:
      summary: Get users
      description: Get all the office users in your company, with all their key descriptive
        attributes such as title and role. Crew members are not included.
      operationId: get_users
      tags:
      - basic
      parameters:
      - name: Page
        in: query
        required: false
        schema:
          type: integer
      - name: PageSize
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Office users
          content:
            application/json:
              example:
                pageNumber: 0
                pageSize: 0
                lastPage: true
                totalPages: 0
                totalResults: 0
                totalThisPage: 0
                pageResults:
                - id: string
                  name: string
                  title: string
                  email: string
                  primaryBranch:
                    id: string
                    name: string
                  role:
                    id: string
                    name: string
  /api/premium/opportunities/{opportunityId}/communication/calls:
    post:
      summary: Log calls on an opportunity
      description: Log your calls in your opportunities to ensure your entire team
        stays updated on the latest events. These will appear as entries on the sales
        activity page.
      operationId: log_calls_on_an_opportunity
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Call added to opportunity
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              callType: {}
              outcome: {}
              callDateTime: string
              description: string
              fromNumber: string
              toNumber: string
              createdBy: string
  /api/premium/opportunities/{opportunityId}/communication/notes:
    post:
      summary: Log notes in an opportunity
      description: Log notes in your opportunities to ensure your entire team stays
        updated on the latest events. These will appear as entries on the sales activity
        page.
      operationId: log_notes_in_an_opportunity
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note added to opportunity
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              notes: string
              createdBy: string
  /api/premium/opportunities/{opportunityId}/followups/{followupId}/mark-complete:
    post:
      summary: Mark follow-up completed
      description: Mark an opportunity follow-up as completed
      operationId: mark_follow_up_completed
      tags:
      - opportunities
      - premium
      parameters:
      - name: followupId
        in: path
        required: true
        schema:
          type: string
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Follow-up marked as complete
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              id: string
              opportunityId: string
              type: {}
              title: string
              assignedToId: string
              dueDateTime: string
              completedAtUtc: string
              notes: string
              completed: true
  /api/premium/leads/{leadId}:
    patch:
      summary: Partially update lead
      description: Partially update a lead by its ID with only the fields you want
        to change
      operationId: partially_update_lead
      tags:
      - leads
      - premium
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lead updated
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              customerName: string
              moveDate: string
              utmInformation:
                utmAdGroup: string
                utmCampaign: string
                utmContent: string
                utmCustomTracking: string
                utmKeyword: string
                utmMedium: string
                utmSource: string
              emailAddress: string
              phoneNumber: string
              phoneType: {}
              branchId: string
              referralSourceId: string
              salesPersonId: string
              serviceTypeId: {}
              moveSizeId: string
              originAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              destinationAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              fromExternalApi: true
    put:
      summary: Update lead
      description: Update a lead by its ID and easily modify its details
      operationId: update_lead
      tags:
      - leads
      - premium
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lead updated
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              customerName: string
              branchId: string
              referralSourceId: string
              moveDate: string
              utmInformation:
                utmAdGroup: string
                utmCampaign: string
                utmContent: string
                utmCustomTracking: string
                utmKeyword: string
                utmMedium: string
                utmSource: string
              emailAddress: string
              phoneNumber: string
              phoneType: {}
              salesPersonId: string
              serviceTypeId: {}
              moveSizeId: string
              originAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
              destinationAddress:
                fullAddress: string
                street: string
                unit: string
                city: string
                state: string
                zip: string
                lat: 0
                lng: 0
                country: string
  /api/premium/opportunities/{opportunityId}/inventory/rooms/{roomId}/items/{inventoryItemId}:
    delete:
      summary: Remove opportunity inventory
      description: Remove opportunity inventory
      operationId: remove_opportunity_inventory
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: roomId
        in: path
        required: true
        schema:
          type: string
      - name: inventoryItemId
        in: path
        required: true
        schema:
          type: string
      - name: changeVolumeWeightCalculationMode
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the opportunity will be updated to
          calculate by inventory when items are deleted.
      - name: markAsNeedsReview
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the inventory will be marked as needing
          review
      responses:
        '200':
          description: Item successfully deleted
          content:
            application/json:
              example: '{opportunityId}'
        '400':
          description: Bad Request
    put:
      summary: Update opportunity inventory
      description: Update opportunity inventory
      operationId: update_opportunity_inventory
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: roomId
        in: path
        required: true
        schema:
          type: string
      - name: inventoryItemId
        in: path
        required: true
        schema:
          type: string
      - name: changeVolumeWeightCalculationMode
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the opportunity will be updated to
          calculate by inventory when items are updated.
      - name: markAsNeedsReview
        in: query
        required: false
        schema:
          type: boolean
        description: If true or not specified, the inventory will be marked as needing
          review
      responses:
        '200':
          description: Item successfully updated
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              notes: string
              volume: 0
              weight: 0
              quantity: 0
              quantityNotGoing: 0
  /api/premium/opportunities/{opportunityId}/inventory/submit:
    post:
      summary: Request inventory review
      description: Initiate an inventory review request for a specific opportunity,
        mirroring the functionality of the "Submit Inventory" button in the Customer
        Portal. Submissions can be resolved from the opportunity's Sales tab.
      operationId: request_inventory_review
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Inventory submitted successfully
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example: '{opportunityId}'
  /api/premium/customers/search:
    get:
      summary: Search customers by name, email address or phone number
      description: Search customers by name, email address or phone number
      operationId: search_customers_by_name_email_address_or_phone_number
      tags:
      - customers
      - premium
      parameters:
      - name: searchQuery
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Matching customers
          content:
            application/json:
              example:
              - id: string
                name: string
                phoneNumber: string
                phoneType: {}
                emailAddress: string
                address: string
                secondaryPhoneNumbers:
                - phoneNumber: string
                  phoneType: {}
        '400':
          description: Bad Request
  /api/premium/customers/{customerId}:
    put:
      summary: Update a customer
      description: Update a customer
      operationId: update_a_customer
      tags:
      - customers
      - premium
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            example:
              name: string
              phoneNumber: string
              phoneType: {}
              emailAddress: string
              address: string
              secondaryPhoneNumbers:
              - phoneNumber: string
                phoneType: {}
  /api/premium/opportunities/{opportunityId}/jobs/{jobId}/notes:
    patch:
      summary: Update job notes
      description: Update any of the note properties on a job such as CrewNotes, CustomerNotes,
        InternalNotes, AccountingNotes, or DispatcherNotes
      operationId: update_job_notes
      tags:
      - jobs
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Notes updated successfully
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              crewNotes: string
              customerNotes: string
              internalNotes: string
              accountingNotes: string
              dispatcherNotes: string
  /api/premium/opportunities/{opportunityId}/jobs/{jobId}/stops:
    put:
      summary: Update job stops
      description: Update all stops for a job
      operationId: update_job_stops
      tags:
      - jobs
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated stops
        '400':
          description: Bad Request
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            example:
            - id: string
              isOrigin: true
              isDestination: true
              order: 0
              addressFullAddress: string
              addressLat: 0
              addressLng: 0
              addressUnit: string
              propertyName: string
              propertyType: {}
              stopType: {}
              stairs: 0
              hasElevator: true
              notes: string
              street: string
              city: string
              state: string
              zip: string
              county: string
  /api/premium/opportunities/{opportunityId}:
    patch:
      summary: Update opportunity properties
      description: Update specific properties of an opportunity. Only updates properties
        that are provided in the request.
      operationId: update_opportunity_properties
      tags:
      - opportunities
      - premium
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Opportunity updated successfully
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            example:
              moveSizeId: string
              salesPersonId: string
              branchId: string
              opportunityType: {}
              volume: 0
              weight: 0
              isBinding: true
              depositAmount: 0
              referralSourceId: string
              affiliateId: string
              customField01: string
              customField02: string
              customField03: string
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
- ApiKeyAuth: []
